<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
      <div class="container">
        <div class-"row" id="header">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 id="title"><%= title %></h1>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12" id="joinArea">
            <button class="but btn-success btn-lg" id="joinButton">Join Game</button>
            <p>Players needed to start game: <span id="playersNeeded"></span></p>
            <p id="waitForDisconnect">Please wait for a player to leave the game</>
          </div>
        </div>

        <div class="row" id="waiting">
          <div class="col-lg-12">
            <h2>Waiting for <span id="p2text">Player 2</span> to join the game</h2>
          </div>
        </div>
        
        <div class="col-lg-offset-2 col-lg-8" id="game">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p id="gratz"></p>
              <p id="turn"></p>
              <p id="gameOverRedirect"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p id="word"></p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <input id="guess" type="text" placeholder="Guess a letter:" maxlength="1" class="form-control"></input>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="guessButtonArea">
              <button class="btn btn-primary btn-lg" id="guessButton">Guess</button>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <p id="guessWarning">Please submit a letter!</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <p id="lettersGuessed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <p id="triesRemaining">Tries Remaining: <span id="tries">8</span></p>
            </div>
          </div>

        </div>
      </div>
    


    <!-- Boostrap -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
