body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  margin-bottom: 15em;
}

#title {
  font-size: 5em;
}

#joinArea, #gameArea, #header, #guessButtonArea, #lettersGuessed, #triesRemaining, #waiting {
  text-align: center;
}

#gamez, #waiting{
  visibility: hidden;
}

#joinButton {
  margin-bottom: 2em;
}

#joinArea > p {
  font-size: 16px;
}

#guess {
  font-size: 3em;
  height: 80px;
}
#guessButton {
  height: 80px;
  width: 100px;
  font-size: 24px;
}

#word {
  font-size: 4em;
  font-weight: bold;
}

#word {
  margin-bottom: 1em;
}

#lettersGuessed {
  margin-top: 1em;
}

#lettersGuessed, #triesRemaining {
  font-size: 2em;
  font-weight: bold;
}

#p2text {
  color: blue;
}

